<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} - {{ config.title }}{% else %}{{ config.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ config.description }}{% endif %}">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/docs/">docs</a></li>
        <li><a href="http://git.laydros.net">repo</a></li>
        <li><a href="/about/">about</a></li>
      </ul>
    </nav>
    <br />
    <main>
      {% block content %}{% endblock content %}
    </main>
    <div id="footer">
      <a href="http://www.laydros.net/">&#169; 2024 jwh</a> &nbsp - &nbsp <b>contact</b>: jwh at laydros dot net
    </div>
  </body>
</html>