{% extends "base.html" %}

{% block content %}
<header>
  <h2>~laydros</h2>
</header>
<div id="sometext">
  <a href="about/">about</a><br />
  <a href="docs/">docs</a><br />
  <a href="blog/">blog</a><br />
  <a href="https://start.laydros.net/">startpage</a><br />
  <a href="gallery/">gallery</a><br />
  <a href="https://www.github.com/laydros">github</a><br />
  <a href="https://mastodon.sdf.org/@laydros">mastodon</a><br />
  <a href="https://flickr.com/photos/jwhamilton">flickr</a><br />
</div>
{% endblock content %}
